<div
  class="confirmation-dialog"
  [class.simple-confirmation-dialog]="config.layout === 'simple'">
  <h2 *ngIf="config.title">{{ config.title }}</h2>
  <markdown [data]="config.message"></markdown>
  <div class="buttons">
    <button mat-button [mat-dialog-close]="false" class="text-label">
      <span>{{ cancelLabel }}</span>
    </button>
    <button
      *ngIf="config.alternate_label"
      mat-button
      [mat-dialog-close]="config.alternate_value || 'alternate'"
      class="text-label">
      <span>{{ config.alternate_label }}</span>
    </button>
    <button
      *ngIf="confirmAppearance === 'raised'; else strokedConfirm"
      mat-raised-button
      [color]="confirmColor"
      [mat-dialog-close]="true"
      class="text-label">
      <span>{{ confirmLabel }}</span>
    </button>
    <ng-template #strokedConfirm>
      <button
        mat-stroked-button
        [color]="confirmColor"
        [mat-dialog-close]="true"
        class="text-label">
        <span>{{ confirmLabel }}</span>
      </button>
    </ng-template>
  </div>
</div>
